# SPDX-FileCopyrightText: The PFDL VS Code Extension Contributors
# SPDX-License-Identifier: CC0-1.0

node_modules/**
client/node_modules/**
client/out/**
client/bundle.js
server/node_modules/**
server/out/**
jest-style-mock.js
jest.config.js
