# SPDX-FileCopyrightText: Microsoft Corporation
# SPDX-License-Identifier: MIT

# imported from https://github.com/microsoft/vscode-extension-samples/tree/3d5bb2c3788e2a2a99272222289afcb659cd51a3/lsp-sample

.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
